@import 'navbar.css' ;
@import 'wrapper.css';  
@import 'main-content.css';
@import 'items.css';
@import 'footer.css';

/* font-family: 'Crimson Text', serif; */
/* font-family: 'Dancing Script', cursive; */
/*  */
:root {  
    --black: #202020; 
    --white: #ffffff;   
    --font: system-ui;
}

body {
    margin: 0; 
    padding: 0;  
    font-family: var(--font);
    background-color: #2b231f;
}

* {
    margin: 0;
    box-sizing: border-box;
}